<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hampus Andersson</title>
    <link rel="stylesheet" href="../css/mystyle.css">
</head>
<body>
    <h1>Welcome</h1>
    <p>My name is Hampus Andersson, I live in Ystad and have been playing professional sports for nine years.<br>
    On my spare time I enjoy hanging out with friends, family, my girlfriend and my dog Harley.<br>
    My experiences with programming in general is limited, I wrote my first line of code a year and a half ago.<br>
    I have a burning desire to be the best version of myself, and I look forward to you teachers helping me achieve that goal.
    </p>
    <button><a href="contact_me.html">Message me!</a></button>
</body>
</html>